html,
body {
  background-color: #ffffff;
}

.v-application {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

.v-overlay__content > .v-list {
  border: 1px solid #eaeaea;
  border-radius: 8px;
}
